@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageTitle>ProjectV_Group7_UI_API</PageTitle>

<div class="page">
    @if (!IsDiscussionPage)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool IsDiscussionPage => NavigationManager.Uri.Contains("/discussion", StringComparison.OrdinalIgnoreCase);
}
