@inherits LayoutComponentBase
@inject NavigationManager Navigation

<PageTitle>ProjectV_Group7_UI_API</PageTitle>

<div class="page">
    @if (Navigation.Uri.Contains("survivor-management"))
    {
        <div class="sidebar">
            <SurvivorMenu />
        </div>
    }
    else
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
