@page "/survivor-management-services"

<PageTitle>Survivor Management</PageTitle>

<h1>Survivor Management</h1>

Welcome to the Survivor Management Page.

@* <SurveyPrompt Title="How is Blazor working for you?" /> *@